{% load i18n %}
{% load static %}

{% include 'partials/css.html' %}
{% include 'partials/navbar.html' %}

{% block content %}


{% block head %}
<script type="module" src="{% static 'js/add-gem-form.js' %}"></script>
{% endblock head %}

<main class="add-place-page">
    <h1>Share Your Gem </h1>

    <!-- GOOGLE PLACE SEARCH FIELD -->

    <div id="add-place-input-container">
        <label for="search-input"><i class="fa-solid fa-magnifying-glass"></i></label>
        <input type="text" id="search-input" placeholder="Start typing a place name">
    </div>

    <!-- PLACE CARD -->

    <div id="place-add-form">
        <!-- Photo -->
        <div class="add-form-img-container">
            <img src="{% static 'images/no-google-photo-placeholder.png' %}" alt="Placeholder image" id="photo">
        </div>
        <!-- Form (hidden) -->
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            {{ form.google_place_id.as_hidden }}
            <h2 class="detail-view-place-title" id="add-form-title">Share Your Gem</h2>
            <p class="place-address" id="add-form-address"></p>
            <div class="add-place-btns-container">
                <input type="submit" value="Share gem" id="place-add-save-btn" class="submit-btn">
                <a href="{% url 'home' %}" class="cancel-btn">Cancel</a>
        </div>
        </form>


    <!-- Back button -->
    <span id="close-btn"><i class="fa-solid fa-chevron-left"></i></span>
</main>

{% endblock content %}

{% include 'partials/js.html' %}
<script type="text/javascript">
    var postUrl = "{{ post_url }}";
</script>