{% extends 'base.html' %}

{% block navbar %} {% endblock %}
{% block header %} {% endblock %}

{% block content %}
    <!-- Page title -->
    <div class="delete-container">
    <h1>Delete Gem</h1>
    <!-- Confirmation message -->
    <p>Are you sure you want to delete this Gem?</p>
    <p>Other users may miss out on a fantastic experience</p>

    <!-- Delete confirmation form -->
    <form class="delete-form" method="post">
        {% csrf_token %}
        <!-- Submit button for confirming deletion -->
        <button class="delete-btn" type="submit">Yes, delete my gem!</button>
        <!-- Cancel button for aborting deletion -->
        <a href="{% url 'home' %}" class="btn delete-cancel-btn">No, I want to keep my gem</a>
    </form>
    <div class="delete-return-btn">
        <span id="close-btn"><i class="fas fa-arrow-circle-left " title="Return to Homepage"></i></span>
    </div>
    </div>
{% endblock %}