{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ post.title }}</h2>
<p>{{ post.content}}</p>

{% for comment in comments %}
<div class="comment">
    <p>{{ comment.author.username }} Commented:</p>
    <p>{{ comment.comment }}</p>
    {% if user == comment.author %}
    <a href="{% url 'edit_comment' post.id comment.id %}">Edit</a>
    <button class="delete-comment" data-comment-id="{{ comment.id }}" data-post-id="{{ post.id }}">Delete</button>
    {% endif %}
</div>
{% endfor %}

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<form method="post">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <button type="submit">Submit Comment</button>
</form>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% endblock %}

{% block extra_js%}
<script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
