{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="comments-header">
    <h2>User Comments</h2>
</div>
<div class="content-container posts-container ">
    <div class="col-lg-6 col-md-12 col-sm-12 mb-3 border p-3 post-card">
        <!-- Post title -->
        <h2>{{ post.title }}</h2>
        <!-- Post content -->
        <img src="{{ post.photo_url }}" alt="{{ post.title }}">
        <p>Author: {{ post.author.username }}</p>
        <p class="gem-info">{{post.content}}</p>
        <p>Address: {{ post.address }}</p>
        <p>Region: {{post.region}}</p>

        <!-- Comment form -->
        <form class="comment-form" method="post">
            {% csrf_token %}
            <textarea class="comment-input" name="content" placeholder="Please Enter Your Comment "></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    </div>

    <!-- Comments Section -->
    <div class="col-lg-6 col-md-12 col-sm-12 mb-3 border p-3 comments-container scrollable">
        <!-- Loop through comments -->
        {% for comment in comments %}
        <div class="comment">
            <!-- Comment author -->
            <p>{{ comment.author.username }} Commented:</p>
            <!-- Comment content -->
            <p>{{ comment.comment }}</p>
            <!-- Edit and Delete buttons for comment author -->
            {% if user == comment.author %}
            <a href="{% url 'edit_comment' post.id comment.id %}">Edit</a>
            <a href="{% url 'delete_comment' post.id comment.id %}" class="delete-comment">Delete</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js%}
<!-- Extra JavaScript -->
<script src="{% static 'js/comment.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>
{% endblock %}