<nav class="navbar navbar-expand-lg navbar-light bg-blue custom-navbar">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link {% if request.path == home_url %}active{% endif %}"
              aria-current="page"
              href="{% url 'home' %}"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Region Selection
            </a>
            <ul class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              {% for region in regions %}
                <li>
                  <a class="dropdown-item" href="{% url 'posts_by_region' region.id %}">{{ region.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>{% if request.user.is_authenticated %}
            <a class="nav-link" id="navbar-text" href="{% url 'favorites' %}">Favorites</a></li>
            <a class="nav-link" id="navbar-text" href="{% url 'create_gem_form' %}">Share your Gem</a>
            {% endif %}
        </ul>
          {% if request.user.is_authenticated %}
          <div class="auser-icon"></div>
            <a class="user-links" href="{% url 'account_logout' %}">
            <div>
              <i class="fa-regular fa-lg fa-circle-user"></i>
            </div>
            <div>
              <div class="header-nav-text">Log Out</div>
            </div>
            </a>
          </div>
          {% else %}
          <div class="user-icon">
            <a class="user-links" href="{% url 'login' %}">
              <div>
                <i class="fa-regular fa-lg fa-circle-user"></i>
              </div>
              <div>
                <div class="header-nav-text"> Log In</div>
              </div>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>