{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Favorite Posts</h1>
    <!-- Loop through favorite posts -->
    {% for post in favorite_posts %}
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 border p-3">

        <!-- Display the post -->
        <h2>{{ post.title }}</h2>
        <img src="{{ post.photo_url }}" alt="{{ post.title }}">
        <p>Author: {{ post.author.username }}</p>
        <p >Gem Info: {{post.content}}</p>
        <!-- Remove from favorites form -->
        <form method="post" action="{% url 'toggle_favorite' post.id %}">
            {% csrf_token %}
            <button type="submit">Remove from favorites</button>
        </form>
    {% endfor %}
{% endblock %}