{% extends "base.html" %}

{% load static %}

{% block head_title %} {% trans "Log Out" %} {% endblock %}


{% block content %}
<section class="log-out-confirmation-page">
    <h2>{% trans "Log Out %}</h2>

    <p>{% trans 'Are you sure you want to log out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if dredirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name}}" value="{{redirect_field_value}}"/>
     {% endif %}
     <button type="submit" class="btn btn--alert"> {% trans 'Log Out' %}</button>
    </form>

    <span id="close-btn"><i class=""fa-solid fa-chevron-left></i></span>
</section>