{% load static %} {% url 'home' as home_url %}
{% load i18n %}

<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <title>Scottish Gems</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Include CSS files -->
    {% include 'partials/css.html' %}
  </head>
  <body class="d-flex flex-column h-100 main-bg">
    <!-- Include navbar -->
    {% include 'partials/navbar.html' %}
    <!-- Include header -->
    {% include 'partials/header.html' %}
    <main class="flex-shrink-0 main-bg">
      {% if messages %}
        <div class="messages">
          <strong>{% trans "Message:"%}</strong>
          <ul>
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="posts-container">
        {% block content %}
        <div class="row g-3 post-row" >
        {% if region_selected %}
          {% for post in posts %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 border p-3">
              <!-- Display the post -->
              <h2>{{ post.title }}</h2>
              {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
              <div class="add-form-img-container">
                <img src="https://maps.googleapis.com/maps/api/place/js/PhotoService.GetPhoto?1s{{ post.google_place_id }}&3u750&4u750&5m1&2e1&callback=none&key=AIzaSyDU10F5IFW-yAo0xDkulAl5FuaoB3daVgQ&token=53398" alt="{{ post.title }}" id="photo">
              </div>
            {% endif %}
              <p>Author: {{ post.author.username }}</p>
              <p >Gem Info: {{post.content}}</p>
              {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_favorite' post.id %}">
                  {% csrf_token %}
                  <button type="submit" class="icon-button">
                    {% if post in request.user.favorite_posts.all %}
                    <i class="fas fa-heart" title="Remove From Favorites"></i>
                    {% else %}
                    <i class="far fa-heart" title="Add to Favorites"></i>
                    {% endif %}
                </button>
                  </button>
                  <button type="submit" class="icon-button">
                    {% if request.user == post.author %}
                    <a href="{% url 'delete_gem' post.id %}" class="delete-button" title="Delete gem">
                        <i class="fas fa-eraser"></i>
                    </a>
                {% endif %}
                </form>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
        <div class="row g-3 post-row  justify-content-center">
          {% for post in posts %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 border p-3 post-card">
              {{ post.title }}
              <!-- Display the post -->
              <h2><a href = "{%url 'gem_detail' post.id %}">{{ post.title }}</a></h2>
              {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
              {% endif %}
              <p>Author: {{ post.author.username }}</p>
              <p class="gem-info">{{post.content}}</p>
              <a href="{% url 'gem_detail' post.id %}">Show More</a>
              <br>
              <p>Region: {{post.region}}</p>
              {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_favorite' post.id %}">
                  {% csrf_token %}
                  <button type="submit" class="icon-button">
                    {% if post in request.user.favorite_posts.all %}
                    <i class="fas fa-heart" title="Remove From Favorites"></i>
                    {% else %}
                    <i class="far fa-heart" title="Add to Favorites"></i>
                    {% endif %}
                </button>
                  <button type="submit" class="icon-button">
                    {% if request.user == post.author %}
                    <a href="{% url 'delete_gem' post.id %}" class="delete-button" title="Delete gem">
                        <i class="fas fa-eraser"></i>
                    </a>
                    {% endif %}
                  </button>
                </form>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>  
        {% endblock content %}
      </div>
    </main>
    <!-- Include footer -->
    {% include 'partials/footer.html' %}
    <!-- Include JavaScript files -->
    
    {% block extra_js %}
    {% include 'partials/js.html' %}
    {% endblock %}
  </body>
</html>