{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" />

    {% include 'partials/css.html' %}
    {% block extra_css %}{% endblock %}

    <title>Scottish Gems</title>
</head>

<body>
    {% include 'partials/navbar.html' %}

    {% include 'partials/header.html' %}

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}
    {% include 'partials/js.html' %}
    {% block extra_js %}{% endblock %}
</body>

</html>