body {

    background-color: red;

}

header{
    margin-bottom: 0;
}

nav {
    margin-top: -8px;
}

.carousel-inner {
    height: 350px;  /* Adjust as needed */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.carousel-caption {
    position: relative !important;
    top: 20px !important;
    left: 60px !important;
    padding-left: 60px !important;
}

.page-sub-title {
    font-family: Merriweather;
    position: absolute;
    bottom: 2%; 
    right: 2%; 
    color: white;

}

.posts-container {

    margin-top: 20px; /* Adjust as needed */

    background-color: #d0d3d4;

}

.post-row {

    gap: 20px; /* Adjust as needed */

}

.col-lg-3 {

    overflow: auto;

}

.col-lg-3 img {

    max-width: 100%;

    height: auto;

}
.brand {
    background-color: #F9FAFC;
}

.bg-blue, .post-card {

    background-color: #273c75;

}

.custom-navbar, .nav-link, .dropdown-item, .dropdown-menu, .post-card {

    color: white !important;

    font-size: 120% !important;

    font-family: 'Merriweather', serif !important;

}

.card {
    border: none;
    background-color: transparent;
}

.form-wrapper {

    width: 45%;

}

@media (max-width: 768px) {

    .page-title h1 a.nav-link {

      font-size: 150%; /* Adjust as needed */

      top: 10%; /* Adjust as needed */

      left: 10%; /* Adjust as needed */

    }

    .page-sub-title {

      bottom: 5%; /* Adjust as needed */

      right: 5%; /* Adjust as needed */

    }

}